#container {
	width: 600px;
	height: 600px;
}

#game_table { 
	width: auto;
	border-collapse: collapse;
}

.live {
	background-color: red;
}

.cell {
	border: 1px solid #eee;
	width: 20px;
	height: 20px;
}
