#container {
	width: 100%;
	height: 100%;
}

#game_table { 
	width: auto;
	border-collapse: collapse;
}

.live {
	background-color: red;
}

.cell {
	border: 1px solid #eee;
	width: 10px;
	height: 10px;
}
